<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="amazonShopping">

<listeners>
<listener class-name="com.amazonShopping.utilities.Reporting"></listener>
</listeners>
  <test name="Amazon Test">
  	<parameter name="browser" value="chrome" />
    <classes>
    <!--<class name="com.amazonShopping.testCases.TC_LoginTest_001"/> -->
   <class name="com.amazonShopping.testCases.TC_AddItemToCart_002"/>
    </classes>
      
  </test>
 
</suite> <!-- Suite -->
